@charset "UTF-8";
@import url("fonts/HeronSansCond_Medium/stylesheet.css");
@import url("fonts/HeronSansCond_Regular/stylesheet.css");
@import url("fonts/HeronSans_Regular/stylesheet.css");
@import url("fonts/HeronSans_Light/stylesheet.css");
@import url("fonts/HeronSans_Semibold/stylesheet.css");
@import url("fonts/HeronSansCond-Light/stylesheet.css");

* {
    margin: 0; 
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
	margin:0px !important;
	padding:0px !important;
}
body {
    background-color: #c7c8ca;
}
img, object, embed, video {
	max-width: 100%;
	float: none;
}
ul { list-style: none; }
/* IE 6 does not support max-width so default to width 100% */
.ie6 img { width:100%; }

/* Mobile Layout: 480px. */
/* unvisited link */
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
#header-cat a { color:#DCDDDE;}


/* afficher le texte sélectionné dans un paragraphe en blanc sur fond noir */
::-moz-selection { color: white;  background: #da2128; }
::selection      { color: white;  background: #da2128; }

/* Common for each screens */

/* Main Container */
#page {
    margin: 0 auto;
    background-color: #f1f2f2;
    background-image: url("img/background-grid.jpg");
}

/* Header Title */
#header-title {
    line-height: 79px;
    background-color: #dcddde;
    position: relative;
    color: #f1f2f2;
    font-size: 54px;
    font-family: 'HeronSansCond Medium';
    overflow: hidden;
}

#header-title-container-left {
    display: inline;
    float: left;
	background-color: #dcddde;
	position: relative;
	height: 79px;
	padding-right: 30px;
	padding-left: 30px;
}

#header-title-container-middle {
    display: inline;
    background-color: #f1f2f2;
    position: absolute;
    top:34px;
    width: 100%; height: 11px;
}

#header-title-container-right {
	display: inline;
	float: right;
	background-color: #dcddde;
	position: relative;
	height: 79px;
	padding-right: 30px;
	padding-left: 30px;
}

/* Header cat */
#header-cat {
    background-color: #f1f2f2;
    position: relative;
    color: #dcddde;
    font-size: 35px;
    line-height: 56px;
    font-family: 'HeronSansCond Medium';
    text-align: center;
    letter-spacing: 0.03em;
}

/* Content */
#content {
}

/* Content Title */
.content-title {
    font-family: 'HeronSansCond Medium';
    font-size: 54px;
    color: #DA2128;
    max-width: 1092px;
    z-index: 1;
    text-transform: uppercase;
}

.cover-title
{
font-size: 154px;
}

/* Content Cover */
.content-cover {
    position: relative;
    text-align: center;
}

/* Centered */
.centered {
    position: absolute;
    top: 50%; left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* Content Text */
.content-text {
	max-width: 1020px;
    margin: auto;
    font-size: 20px;
    font-family: 'HeronSans Regular';
}

.accueil-text {
    margin: 25px auto;
    font-size: 33px;
    font-family: "HeronSansCond Light";
    line-height: 45px;
    font-weight: 100;
    letter-spacing: 0.01em;
}
.category-text {
	line-height: 30px;
	margin: 22px auto;
	
}

/* Content Page */
.content-page {
    display: inline-block;
    vertical-align: text-top;
    font-family: 'HeronSans Regular';
}

/* Content Page Annotated */
.content-page-annotated {
    position: relative;
    padding-left: 165px;
    padding-right: 30px;
    width: 750px;
}

/* Annotation */
.annotation {
    position: absolute;
    width: 135px;
    left: 15px;
    text-align: right;
}

/* Content Thumbnails */
.content-thumbnails {
    display: inline-block;
    vertical-align: text-top;
    margin: 15px;
}

/* Thumbnails IMG */
.content-thumbnails .thumbnail img {
    max-width: 390px;
    max-height: 285px;
}

/* Content Image */
.content-image {
    text-align: center;
}

/* Image Button */
.image-button {
    position: relative;
    max-width: 1230px;
    height:1000px;
    overflow: hidden;
    margin: 0 auto;
}

/* Image button Overlay */
.image-button-overlay {
    position: absolute;
    background-color:#dcddde;
    width: 2000px;
    height: 2000px;
    opacity: 0;
}
.image-button-overlay:hover  {
    background-color: #dcddde;
    opacity: 0,5;
}

/* Img inside Image Button */
.image-button {
    border: 15px solid #f1f2f2;
}
.image-button:hover {
    border: 15px solid white;
}

/* Image Button Title */
.image-button .content-title {
    display: none;
}
.image-button:hover .content-title {
    display: block;
}
/* Tiny screens */
@media screen and (max-width: 660px)
{
    /* Header Gray Bar */
    #header-cat {
        height: 168px;
    }
}
/* Small screens */
@media screen and (min-width: 661px)
{
    /* Header Gray Bar */
    #header-cat {
        height: 56px;
    }

    #header-cat-button-left {
    display: inline-block;
	width: 32%;
	text-align: center;
    }

    #header-cat-button-middle {
    display: inline-block;
	width: 32%;
	text-align: center;
    }

    #header-cat-button-right {
    display: inline-block;
	width: 32%;
	text-align: center;
    }

    .content-page {
        width: 750px;
        padding: 45px 5%;
    }

}

/* Big screens */
@media screen and (min-width: 1289px)
{
    /* Main Container */
    #page {
    max-width: 1290px;
    }
    /* Content Text */
    .content-text {
    max-width: 1020px;
    }

    .content-page {
        width: 850px;
        padding: 45px 5%;
    }    
}



/* index ---------------------------------- */
.background 
{
    background-image: url(img/index-image.JPG);
    background-repeat: no-repeat ;
    background-position: center;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100vh;
    background-color:black;
}
.bigLetter
{
    font-family: 'HeronSansCond-Light';
    font-size: 352px;
    margin-left: -26px;
    color:white;
}
.smallLetter
{
    font-family: 'HeronSans Light';
    font-size: 11px;
    line-height: 15px;
    text-shadow: 2px 2px 11px #000000;
    color:white;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.select {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

/* COLUMN */

.column
{
    position: fixed;
    width: 256px;
    height: 100%;
}

#column1 { left: 15%; }
#column2 { left: 35%; }
#column3 { left: 55%; }
#column4 { left: 75%; }

/* ROWS */

.row1
{
    position: absolute;
    top: 0;
}
.row2
{
    position: absolute;
    top: 40%;
}
.row3
{
    position: absolute;
    bottom: 5%;
}

.barre
{
    position: fixed;
    background-color: white;
    height: 11px;
    left:55%;
    width:30%;
    top:20%
}